// ===================================================================
//    COLORS
// ===================================================================
$brand-primary: #59D55E;
$brand-success: #5cb85c;
$brand-info:    #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;
$heading-color: #333;


// ===================================================================
//    MEDIAQUERIES
// ===================================================================
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;


// ===================================================================
//    FONTS
// ===================================================================
$base-font-family: 'poppins', sans-serf;
$secondary-font-family: 'Montserrat', sans-serf;


// ===================================================================
//    DIMENSIONS
// ===================================================================
$section-padding: 100px;
